<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
    <link rel="stylesheet" href="{% static 'w3.css' %}">
	<meta charset="UTF-8">
	<title>Submit a Report</title>
</head>
<body>
	<div class="w3-top">
		<div class="w3-bar w3-red w3-card w3-left-align w3-large">
		  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
		  <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Home</a>
		  <a href="{% url 'submit_report' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-white">Submit Report</a>
		  <a href="{% url 'all_reports' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Login as Doctor</a>
	</div>
	<div class="w3-row-padding w3-padding-64 w3-container">
        <h1 style= "text-align: center"> Submit a Patient Report </h1>
        <form style = "text-align : center" method = "post" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit">Submit</button>
		</form>
    </div>
</body>
        <!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
	<p>Made with 💝 By Shovon</p>
</footer>
	
	
</html>
